<div class="mt-5 container-fluid">

    <div class="card text-center">
        <div class="card-header">
            <div class="row g-2 justify-content-center p-2">

                <div class="col-3">
                    <a href="#" class="w-100 btn btn-dark text-white btn-block " routerLink="/adminCities">Cities</a>
                </div>
                <div class="col-3">
                    <a href="#" class="w-100 btn btn-dark text-white btn-block "routerLink="/adminCinema">Cinemas</a>
                </div>
                <div class="col-3">
                    <a href="#" class="w-100 btn btn-dark text-white btn-block"routerLink="/adminMovies">Movies</a>
                </div>
                <div class="col-3">

                    <a  class="w-100 btn btn-dark text-white btn-block "routerLink="/adminSessions">Sessions</a>
                </div>
                <div class="col-3">

                    <a  class="w-100 btn btn-dark text-white btn-block "routerLink="/adminFC">Film Classification</a>
                </div>

            </div>
        </div>
    </div>
<div class="container">
            <div class="card text-center">
    
                <div class="card-body">
                    <!-- <h5 class="card-title">List of articles</h5> -->
                    <div class="row g-3">
    
                        <div class="col-6">
                            <form class="form-inline input-group">
                                <input class="form-control mr-sm-2" name="keyWord" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <table class="mt-2 table table-striped table-bordered table-dark ">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>ADDRESS</th>
                                <th>ASSOCIATED CITY</th>
                                <th>MOVIES</th>
                                <th>DELETE</th>
                                <th>UPDATE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cinema of listCinema">
                                <td >{{cinema.id}}
                                    </td>
                                    <td >{{cinema.name}}
                                    </td>
                                <td >{{cinema.address.address1+' '+ cinema.address.address2+' '+cinema.address.codeZip}}</td>
                                
                                <td >{{cinema.city.name}}</td>
                                <td>{{cinema.movies}}
                                </td>
                                <td>
                                    <a><i class="fas fa-trash-alt" (click)="onDeleteCinema(cinema.id)"></i></a>
                                </td>
                                <td>
                                    <a><i class="fas fa-edit" (click)="onUpdateCinema(cinema.id)"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card-footer text-muted">
                        <a class="btn btn-secondary btn-lg" routerLink="/saveCinema">Add new cinema</a>
                    </div>
    
                </div>
    
            </div>